.img {
  height: 30px;
  width: 100px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.card {
  background-color: #3367d6;
  height: 60px;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
.search {
  background: none;
  outline: none;
  border: none;
  color: #64748b;
  font-weight: bold;
}
.s {
  height: 20px;
  width: 20px;
  margin-right: 20px;
  color: white;
}
.search-container {
  display: flex;
  border: 1px solid #6697ff;
  text-align: center;
  padding: 10px;
  height: 40px;
  cursor: pointer;
  color: white;
  background-color: #2850a7;
}
.a {
  color: blue;
}
.container1 {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.ul {
  border-radius: 10px;
}
